spring:
  datasource:
    url: jdbc:mysql://localhost:3306/librarymanagement
    username: root
    password: 12345
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    show-sql: true
    hibernate:
      ddl-auto: update
jwt:
  secret: Hf4OtAw8seFCqqtj8YcUSN1yVDTxdHiJyz8IHeap11g=
  expiration: 3600000